<div class="centered">
    <span class="line"></span>
</div>
<div class="footer">
    <div class="footer-container">

        <div class="footer-item">
            <p>+48 123 456 789 (PL)</p>
            <p>9980-020 Corvo Street</p>
            <p>Corvo Portugal <a href="assets/map.png" class="accented">map</a></p>
        </div>

        <div class="logos">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <a href="http://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
            <a href="http://www.twitter.com" target="_blank" class="fa fa-twitter"></a>
            <a href="http://www.youtube.com" target="_blank"  class="fa fa-youtube"></a>
            <a href="http://www.instagram.com" target="_blank" class="fa fa-instagram"></a>   
            <a href="https://goo.gl/maps/EhGnobYcaXJRYBqu8" target="_blank" class="fa fa-google"></a>     
        </div>
        
    </div>
</div>