<div class="form-container">
  <h2>Log in</h2>
  <form [formGroup]="loginForm">
    
    <div class="left-right">
      <label for="name">Email</label>
      <input id="name" type="text" formControlName="login" />
    </div>

    <div class="left-right">
      <label for="type">Password</label>
      <input id="password" type="password" formControlName="password" />
    </div>

  </form>
  <button type="submit" class="button-accent" (click)="submitForm()">Confirm</button>
  <p *ngIf="showError">Some data is wrong!</p>
  <p *ngIf="showOk">Logged in succesfully!</p>
</div>